.main-content-container {
    display: flex;
    justify-content: center;

    .content-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
        margin-top: 50px;
        height: calc(100% - 50px);
        position: fixed;
        bottom: 0;
        left:0;

        .todoslist {
            width: 30%;
            top: 50px;
            flex: 1 1 29%;
            border: none;
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;

            .todo,
            .active {
                width: 100%;
                height: auto;
                padding: 10px;
                cursor: pointer;
                display: block;
                border: none;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                border: 1px solid #eee;
                text-align: left;
                color: var(--font-color, black);

                &.active,
                &:hover {
                    background: var(--main-color);
                    color: var(--base-white, #fff);
                }
                &:active {
                    transform: scale(1.01);
                }
            }
        }

        .center-container {
            width: 5px;
            height: calc(100% - 50px);
            cursor: col-resize;
            background: #aaa;
            position: fixed;
            left: 30%;
            z-index: 10;
        }

        .right-container {
            top: 50px;
            width: calc(70% - 6px);
            display: block;
            right: 0;
            border: none;
            height: calc(100% - 50px);
            word-wrap: break-word;
            position: fixed;
            overflow-y: auto;
            overflow-x: hidden;
            bottom: 0;
            z-index: 1;

            .header-container {
                width: 100%;
                padding: 14px;
                font-size: 1.2rem;
                user-select: none;
                line-height: 1.5;
            }

            .Waiting {
                background-color: #c3c3c3;
                color: var(--base-black, #000);
            }

            .In-process, .process {
                background-color: #339499;
                color:var(--base-white, #fff);
            }

            .Completed {
                background-color: #016f1d;
                color: var(--base-white, #fff);
            }

            .description-container {
                width: 100%;
                height: auto;
                padding: 15px;

            }
        }
    }

}